<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/attendance_sheet.js')}}"></script>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/attendance_sheet.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
    <form action = "{{url_for('sheet_ajax.submitted_attendance')}}" method = "POST">
        <div class="row">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-12 col-md-12 bottom_clear">
                    <h4 class="ip-address">
                        <span class="glyphicon glyphicon-hand-right"></span>
                        <b>&nbsp&nbsp{{data['ip_address']}}&nbsp&nbsp</b>
                        <span class="glyphicon glyphicon-hand-left"></span>
                    </h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading header_panel">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 text-center">{{data['sem']}}</div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-center">{{data['branch']}}</div>
                        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                            <span>{{data['sect']}}</span>
                            <span class="clickable pull-right" style="padding-top:2%;">
                                <div class="btn btn-primary btn-md">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body collapse row">
                    <div class="col-xs-4 col-sm-2 col-md-2 col-sm-offset-3 col-md-offset-3 text-center">
                        <span class="btn btn-primary btn-md" id="checkAll"><b>CHECK ALL</b></span>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 text-center">
                    </div>
                    <div class="col-xs-4 col-sm-2 col-md-2">
                        <select class="form-control" name="periods_count">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" style="padding-bottom:2%;">
            <div class="btn btn-default btn-lg monitor-button">
                <span class="glyphicon glyphicon-play"></span>
            </div>
        </div>
        <div class="row child_panels">
            {% for i in range(data['start_roll'], data['end_roll']+1) -%}
            <div class="col-xs-6 col-sm-3 col-md-2">
                <label class="expand">
                    <div class="label label-danger expand toggle_uncheck">
                        <h1 class="atomic_number" id={{i}}>{{i}}</h1>
                    </div>
                    <input type="checkbox" class="hidden atomic_checkbox" id={{i}} name="var_id[]" value="r_{{i}}">
                </label>
            </div>
            {%- endfor %}
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-2 col-xs-offset-4 col-sm-offset-5 col-md-offset-5">
                <div class="text-center top_clear">
                    <input type="submit" value="SUBMIT" class="btn btn-success">
                </div>
            </div>
        </div>
        <div class="row" hidden>
            <input type="text" class="hidden" name="hid_sem" value="{{data['sem']}}">
            <input type="text" class="hidden" name="hid_branch" value="{{data['branch']}}">
            <input type="text" class="hidden" name="hid_sect" value="{{data['sect']}}">
            <input type="text" class="hidden" name="hid_per" value="{{data['period']}}">
            <input type="text" class="hidden" name="hid_start_roll" value="{{data['start_roll']}}">
            <input type="text" class="hidden" name="hid_end_roll" value="{{data['end_roll']}}">
        </div>
    </form>
    </div>
</body>
</html>
