<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/teacher_submit_response.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="{{url_for('sheet_ajax.csv_download')}}" method="POST">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
                <div class="well text-center">
                    <div class="glyphicon glyphicon-list-alt bottom_clear" style="font-size:4.8em;"></div>
                    <div class="message">SUBMITTED SUCCESSFULLY</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3 text-center">
                <label class="btn btn-success">
                    <span class>&nbsp&nbsp</span>
                    <span class="glyphicon glyphicon-save" style="font-size:1.8em;"></span>
                    <span class>&nbsp&nbsp</span>
                    <input type='submit' hidden="hidden">
                </label>
            </div>
        </div>
        <div class="row" hidden>
            <input type="text" class="hidden" name="filename" value="{{filename}}">
            <input type="text" class="hidden" name="filepath" value="{{filepath}}">
        </div>
    </form>
    </div>
</body>
</html>
